/*
Project Name: Rebecca Johnson   
Client: Relaxr
Author: Rebecca Johnson
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #033048;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.bottomcontainer {
  margin: 0 auto;
  width: 100%;
  padding: 40px;
  background-color: yellow;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
    background-size: cover;
    padding: 10px;
    height: 500px;
    text-align: center;
}

.logoindex {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    text-align: left;
    padding: 30px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    width: 100%;
    text-align: center;
    padding:50px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    color:#033048;
    background-color: yellow;
    padding: 10px 50px; 
    text-decoration:  none;
    width: 150px;
    text-align: center;
    margin:0 auto;
;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #033048;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;

}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #606161;
    margin-left: 200px;
    margin-right: 200px;
}

.indexlist li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #606161;
    margin-left: 200px;
    margin-right: 200px;
}
blockquote {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #f0efef;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

cite {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #f0efef;
}

.buttonone {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    color:#f0efef;
    background-color: #033048;
    padding: 10px 50px; 
    text-decoration:  none;
    width: 150px;
    text-align: center;

    
}

span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color:  #f0efef;
}

.mainsection {
    background-color: #f0efef;
    margin: 0 auto;
    padding:10px;
    padding-bottom: 100px;

}

.seaquote {
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    padding: 100px;
    height: 400px;
    text-align: center;
}

footer {
    background-color: #121212;
    margin: 0 auto;
    padding:10px;
    padding-bottom: 30px;
    text-align: center;

}

.logofooter {
    text-align: center;
    color:yellow;
}

.socialbuttons {
    height: 75%;
    margin: 10px;
}

.blogheader {
    color: #f9e42e;
    background-color: #033048;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: stretch;
      
}

.blognav {
    list-style: none;
    margin-right: 50px;
    margin-top: 30px;
 
}

.blognav a {
    text-decoration: none;
    color: #f9e42e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 17px;
    font-style: semibold; 
}

.blognav li {
    display: inline; 
    padding: 20px;
}

.logoheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    text-align: left;
}
 
section {
    background-color: #f0efef;
    padding: 40px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: semibold; 
    color: #033048;

}

.blogcontent p {
    color: #606161;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

p::first-letter { 
    font-size: 60px;
    color: #606161;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: left;
}

.blogcontent a {

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #033048;
    float: right;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #033048;
}

.blogright li {
    color: #033048;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    list-style: none;

}

.flexboxone {
    display: flex;
}


